<div class="stolen-frosty span6 offset3 text-center">

	<h1 class="stolen-h1">Hi, I'm Jeff!</h1>

	<br/>

	<h2>
		Welcome to the Firehose Web Dev Weekend!
	</h2>

	<br/>
	<br/>

	<%= link_to 'Launch', '#', :class => 'btn btn-warning btn-large' %>
</div>